:root{
    --color1: #6A7FDB;
    --color2: #B7A9E1;
    --color3: #D1D9E6;
    --color4: #A2C2E4;
}

* {
   color: var(--color3); 
}
.createPost {
    display: block;
    background-color: var(--color1);
    text-align: center;
    margin: 10% 0 0 30%;
    width: 30%;
    padding: 4rem;
}


.form #myForm {
    display: block;
    resize: none;
    justify-content: center;
    padding: 2rem 0 6rem 0;
}

#myForm {
    overflow-y: auto;
    row-gap: 1rem;
    font-size: 1.5rem;
}


#myPostTitle {
    color: black;
    margin-top: 1rem;
    width: 90%;
    height: 2rem;
    border-radius: 12px;
}

#myPostContent {    
    color: black;
    height: 1rem;
    margin-top: 1rem;
    width: 90%;
    padding: 0.6rem 0.6rem 10rem 0.8rem;
    border-radius: 12px;
    font-size: 0.9rem;
}

#myPostImage {
   
}