.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-right: 1rem;
    display: none;
}

.post {
    width: 80%;
    height: 100%;
    display: grid;
    margin: 5vh 0 0 10vh;
    padding: 10px ;
    background-color: #6A7FDB;
    border-radius: 12px;
    box-shadow: 1px 6px 20px var(--color1);
}


.postImg {
    padding: 40% 2rem 2rem 3.5rem;
    background-color: black;
}

.postContent {
    display: grid;
    margin: 1.5rem 0 0 0;
    font-size: 1.5rem;
}
.postContent .postTitle {
    display: flex;
    justify-content: center;
}

.postContent .postCont {
    margin: 2.5rem 0 0 1rem;
}

.postContent .interactions  {
    display: flex;
    justify-content: center;
    padding: 2.5rem 0 0;
    cursor: pointer;
    border-radius: 12px;
}

.postContent .interactions .inter {
    display: flex;
    width: 40%;
    gap: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: var(--color1);
    border-radius: 12px;
    justify-content: center;
 
}

.footer {
    background-color: var(--color1);
    width: 100%;
    margin: 6rem 0 0 0;
    padding: 20px;
    text-align: center;
}